/*Website Styling*/
@keyframes fadeIn {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-moz-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-webkit-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-ms-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}

@-o-keyframes fadein {
    from {opacity: 0;}
    to {opacity: 1;}
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html{
	animation: fadeIn 2s;
    -webkit-animation: fadein 2s;
    -moz-animation: fadein 2s;
    -ms-animation: fadein 2s;
    -o-animation: fadein 2s;
}
/*End of Website Styling*/



/*Bootstrap Styling*/
.col-md-1 {width: 8.332%;}
.col-md-2 {width: 16.664%;}
.col-md-3 {width: 25%;}
.col-md-4 {width: 33.333%;}
.col-md-5 {width: 41.667%;}
.col-md-6 {width: 50%;}
.col-md-7 {width: 58.336%;}
.col-md-8 {width: 66.666%;}
.col-md-9 {width: 75%;}
.col-md-10 {width: 83.334%;}
.col-md-11 {width: 91.666%;}
.col-md-12 {width: 100%;}

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9,
.col-md-10, .col-md-11 {
    float: left;
    padding-right: 5px;
}
.col-md-offset-0 {margin-left: 0;}
.col-md-offset-1 {margin-left: 8.332%;}
.col-md-offset-2 {margin-left: 16.664%;}
.col-md-offset-3 {margin-left: 25%;}
.col-md-offset-4 {margin-left: 33.333%;}
.col-md-offset-5 {margin-left: 41.667%;}
.col-md-offset-6 {margin-left: 50%;}
.col-md-offset-7 {margin-left: 58.336%;}
.col-md-offset-8 {margin-left: 66.666%;}
.col-md-offset-9 {margin-left: 75%;}
.col-md-offset-10 {margin-left: 83.334%;}
.col-md-offset-11 {margin-left: 91.666%;}
/*End of Bootstrap Styling*/



/*General Styling*/
body{
	font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    padding-bottom: 20px;
    max-width: 97%;
    margin: 0 auto;
    font-size: 14px;
    color: black;
}
.content{
	padding-left: 15px;
    padding-right: 15px;
}
/*End of General Styling*/



/*Navigation Styling*/
.navi{
	background-color: #510bd9;
	border-radius: 5px !important;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0px 10px;
}
.navi a{
	display: inline-block;
	position: relative;
	font-weight: bold;
    color: black !important;
    border-radius: 3px;
	padding: 5px 15px;
	margin-right: 5px;
	background-color: lightgrey;
	border: 1px solid #ffbc2e;
	text-decoration: none;
}
.navi a:hover{
	color: black !important;
    background-color: #ffbc2e;
	transform: scale(1.1);
    text-decoration: none;
}
.title{
	backgorund-color: #d9a90b;
	color: #ffbc2e;
	float: left;
	margin-top: 0px;
    margin-bottom: 5px;
    vertical-align: middle;
}
.title img{
	float: left;
}
nav{
	float: right;
	margin-top: 0px;
    margin-bottom: 5px;
    vertical-align: middle;
    padding: 50px 10px;
}
/*End of Navigation Styling*/


/*Main Content Styling*/
.data{
	margin: 0px 25px;
	padding: 0px 20px;
}
.data .info{
	padding-left: 25px;
}
.data .info .answer{
	padding-left: 35px;
}
.info .section p{
	padding-right: 55px;
}
p a{
	color: #510bd9;
	text-decoration: none;
}
p a:hover{
	color: #0B32D9;
	background-color: #66CCFF5C;
	text-decoration: underline;
}
/*End of Main Content Styling*/



/*Footer Styling*/
.footer{
	background-color: #510bd9;
	border-radius: 5px !important;
    margin-top: 0px;
    margin-bottom: 5px;
    padding: 0px;
}
.footer .text{
	clear: both;
    text-align: right;
    border-top: 1px solid #510bd9;
    color: white;
    padding-right: 15px;
    padding-top: 40px;
    vertical-align: middle;
    border-radius: 5px;
    font-size: 10px;
    float: right;
}
.footer .name{
	font-size: 16px;
	color: #ffbc2e;
}
.footer a{
	color: #ffbc2e;
	text-decoration: none;
}
.footer a:hover{
	color: #0bd9c4;
	background-color: #510bd9;
	text-decoration: underline;
}
/*End of Footer Styling*/



/*Home Page Styling*/
.home-img{
}
.home-banner{
	float: right;
	background-color: #E6F7FF99;
	padding:20px 40px;
	height: 440px;
	vertical-align: middle;
}
.info .home-img + p{
	float: left;
}
.button a{
	color: #510bd9 !important;
	background-color: #ffbc2e;
	text-decoration: none;
	padding: 20px 26px;
	margin: 50px 10px;
    font-size: 1.75em;
    border-radius: 5px;
    border: 1px outset buttonface !important;
    float: left;
}
.button a:hover{
	color: #ffbc2e !important;
	background-color: #510bd9;
	text-decoration: none;
	padding: 20px 26px;
	margin: 50 10px;
    font-size: 1.75em;
    border-radius: 5px;
    border: 1px outset buttonface !important;
}
.info .home-img{
	margin: 20px;
}
.home-text{
	padding: 20px;
}
.home-img-left{
	padding:10px 100px 10px 50px;
	float: left;
}
.home-img-right{
	padding:10px 50px 10px 100px;
	float: right;
}
/*End of Home Page Styling*/



/*Form Styling*/
.app{
	text-align: center;
	padding-top:10px;
	padding-bottom:10px;
}
.application, .payment{
	margin: 5px;
}
.application h2{
	padding-top:10px;
}
.student h3, .cosign h3, .emer h3, .endorse h3, .card-pay h3, .bank-pay h3, .card-pay h3{
	padding-top:25px;
}
.bank-pay h3{
	padding-top: 50px;
}
.student label, .cosign label, .emer label, .card-pay label, .bank-pay label{
	padding-left: 50px;
	padding-right: 50px;
}
.endorse label{
	padding-left: 30px;
}
label {
    font-weight: bold;
    margin-top: 5px;
    display: inline-block;
}
.application input, .application select, .payment input{
	padding: 0px 30px;
}
.radio{
	padding: 8px;
}
.date_sub{
	font-weight: bold;
	font-size: 18px; 
	padding-left: 10px;
}
/*End of Form Styling*/



/*Application Styling*/
.mailin{
	padding-left: 20px;
}
/*End of Application Styling*/



/*Floor Plans Styling*/
.image p{
	float: right;
	padding: 50px 5px;
}
/*End of Floor Plans Styling*/


/*Amenities Page Styling*/
.image-list img{
	float:left;
	padding: 20px;
}
.image-list img:hover{
	cursor:pointer;
}
.image-list{
	margin:50px 5px;
	padding-top:400px;
}
/*End of Amenities Page Styling*/

/*About Us Page Styling*/
.owner{
	float: left;
	padding: 15px 20px;
}
.hstry{
	padding: 125px 100px;
}
/*End of About Us Page Styling*/


hr{
	border: 5px dotted #510bd9; !important
}


.navi:after, .title:after, footer-text:before, .footer:after, form:after, .image:after, .info:after,
 .home-img:after, .button:after, .info p img:after, .image-list:after, .hstry:after{
	content: " ";
    display: table;
    clear: both;
}




.errorMessage{
	color: red;
}